#
# what the heck...
#
branches:
  only:
  - c++17
dist: trusty
language: cpp
install:
- pip install --user cpp-coveralls
matrix:
  fast_finish: true
  include:
  - compiler: gcc
    os: linux
    script: ./test.sh gcc-7 `nproc --all`
services:
- docker
sudo: required
after_success:
- coveralls -e example -e test -e /usr/include --gcov-options '\-lp'